
			html, body {
				margin: 0 !important;
				padding: 0 !important;
			}
			
			#okno {
				width: 80%;
				height: 100vh;
				background: #071D70;
				margin-left: auto;
				margin-right: 0;
				overflow: hidden;
				display: flex;
			}
			
			#pamiec {
				width: 30%;
				overflow: hidden;
				overflow-y: auto;
			}
			
			#pamiec ul li {
				font-size: 20px;
				color: #6E84D6;
				font-weight: bold;
			}
			
			#pamiec ul li div {
				display: inline-block;
				width: calc(33% - 12px);
				height: 25px;
				background: #1435AD;
				text-align: center;
				border: 1px solid #6E84D6;
				margin-left: 5px;
				-webkit-user-select: none;
				-moz-user-select: none;
				-o-user-select: none; 
				-ms-user-select: none; 
				user-select: none;
				cursor: pointer;
			}
			
			#kalkulator {
				margin-left: 0;
				margin-right: auto;
				width: 70%;
				height: 100%;
				overflow: hidden;
			}
			
			#przelicznik {
				color: #6E84D6;
				font-weight: bold;
				font-size: 16px;
			}
			
			#przelicznik div {
				overflow: hidden;
				height: 30px;
				margin: 0;
			}
			
			#przelicznik div p:first-child {
				padding-left: 10px;
				width: 10%;
				-webkit-user-select: none;
				-moz-user-select: none;
				-o-user-select: none; 
				-ms-user-select: none; 
				user-select: none;
			}
			
			#przelicznik div p {
				display: inline-block;
				margin: 0;
				margin-top: calc((30px - 16px) / 2);
				margin-right: 20px;
			}
			
			
			#wyswietlacz {
				background: #6E84D6;
				height: 100px;
				overflow: hidden;
			}
			
			#wyswietlacz p {
				font-size: 80px;
				color: #071D70;
				margin: 0;
				text-align: right;
			}
			
			#klawiatura {
				overflow: hidden;
				height: calc(100vh - 100px - (30px * 4));
				display: flex;
				flex-direction: column;
				flex-wrap: wrap;
			}
			
			.przycisk {
				overflow: hidden;
				width: calc(20% - 2px);
				height: calc(16.6% - 2px);
				border: 1px solid #6E84D6;
				cursor: pointer;
				background: #1435AD;
			}
			
			.przycisk p {
				color: white;
				text-align: center;
				font-weight: 800;
				font-size: 18px;
				margin: 0;
				margin-top: calc(((100vh - 100px - (30px * 4)) / 6 - 2px - 18px) / 2);
				-webkit-user-select: none;
				-moz-user-select: none;
				-o-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}
			
			#pamiec ul li:hover, #przelicznik div:hover, .przycisk:hover, .przycisk:hover p {
				background: #4867D6;
				color: #071D70;
			}
	
			@media all and (max-width: 780px) {
				#okno {
					width: 100%;
				}
			}
			
			@media all and (max-width: 615px) {
				#pamiec {
					width: 0;
				}
				#kalkulator {
					width: 100%;
				}
			}
			
			@media all and (max-height: 460px) {
				#przelicznik {
					height: 0;
				}
				#klawiatura {
					height: calc(100vh - 100px);
				}
				.przycisk p {
					margin-top: calc(((100vh - 100px) / 6 - 2px - 18px) / 2);
				}
			}
			@media all and (max-height: 280px) {
				#wyswietlacz {
					height: 40px;
				}
				#wyswietlacz p {
					font-size: 35px;
				}
				#klawiatura {
					height: calc(100vh - 40px);
				}
				.przycisk p {
					margin-top: calc(((100vh - 40px) / 6 - 2px - 18px) / 2);
				}
			}
			/*paleta kolorów użyta w tym projekcie */
			/*1435AD	2C3E82	071D70	4867D6	6E84D6*/
